# Logs
logs
*.log
.vscode
npm-debug.log*


# File Extensions
*.js
*.map

# Re

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
resources
junk
lib/jqwidgets-4.1.2
./lib/jqwidgets-4.1.2

# Dependency directory
node_modules
bower_components

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
